@charset "UTF-8";
:root {
  --text: #3A4145;
  --text: #23272A;
  --hint: #ccc;
  --bg: #ffffff;
  --pos: 4px;
  --swc: #4764e1;
  --swc2: #ffffff;
}

[data-theme] {
  --text: #ffffff;
  --bg: #23272A;
  --hint: #43474A;
  --pos: 36px;
  --swc: #ee477e;
  --swc2: #ffffff;
}

* {
  font-size: 18px;
  color: var(--text);
  padding: 0;
  margin: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  outline: none;
}

p {
  display: inline;
}

b {
  font-weight: bold;
}

a {
  color: var(--swc);
  text-decoration: none;
}
a i {
  color: var(--swc);
}
a u {
  text-decoration: none;
  color: var(--swc);
}
a:hover u {
  text-decoration: solid underline;
}

html {
  min-width: 704px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

body {
  width: 640px;
  background-color: var(--bg);
  padding: 32px;
}

.dark_bg {
  background-color: #23272A;
}

#header {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
}

#switch {
  box-sizing: border-box;
  width: 64px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--swc);
  cursor: pointer;
  position: absolute;
  right: 0px;
  padding: 4px;
}

#switch_circle {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: var(--swc2);
  position: absolute;
  left: var(--pos);
  transition: left 0.2s ease;
}

#my_name {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.v_pad {
  height: 32px;
}

.section {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-top: 1px solid var(--hint);
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: center;
}

.list_title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.screenshots {
  width: 256px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 16px;
}
.screenshots > img {
  display: block;
  max-width: 100%;
  margin-top: 16px;
}
.screenshots > img:first-child {
  margin-top: 0px;
}

.svg {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  background-color: var(--text);
}

.svg.wasm {
  mask: url(/res/wasm.svg);
}

.svg.ferris {
  mask: url(/res/ferris.svg);
}

li {
  margin-left: 24px;
  list-style-position: outside;
  list-style-type: "● ";
  list-style-type: "• ";
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.social_icon {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;
  transition: background-color 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0.75);
}

/*# sourceMappingURL=landing.css.map */
